html, body {
    height: 100%;
}

.homeBack {
    height: 100%;
}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.rectangle {
    width: fit-content;
    padding: 30px 100px;
    color: white;
    background-color: rgb(77, 77, 77);
    border-radius: 7px;
    text-align: center;
}

.centered {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-buttons {
    width: 100%;
    background-color: rgb(77, 77, 77);
    font-size: 5vh;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    /*color: white;*/
    background-color: rgb(77, 77, 77);
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

